# Copyright (c) 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(telaf, 1.0)

type telaf_t;
type telaf_exec_t;
type telaf_data_t;
user_data_files_type(telaf_data_t)

init_vendor_domain(telaf_t, telaf_exec_t)

allow telaf_t self:binder set_context_mgr;

gen_require(`
  type syslogd_t;
  type etc_t;
  type ipacm_diag_t;
  type ldconfig_tmp_t;
  type mount_t;
  type kernel_t;
  type ld_so_cache_t;
  type qcmap_cm_t;
  type fs_t;
')

corecmd_exec_shell(telaf_t)
files_read_etc_files(telaf_t)
fs_associate(telaf_data_t);
user_data_files_type(telaf_data_t);
manage_user_data_files(telaf_t, telaf_data_t)

allow telaf_t telaf_data_t:dir create;

allow syslogd_t self:sem { read write create unix_write destroy };
allow syslogd_t self:shm { unix_read read write create unix_write destroy };

allow initrc_t data_t:dir { write read search create add_name };
allow telaf_t telaf_data_t:file { create write open };

allow ipacm_diag_t ldconfig_tmp_t:file { read getattr open };

allow kernel_t data_t:dir search;
allow kernel_t self:capability2 block_suspend;

allow mount_t ld_so_cache_t:file mounton;
allow mount_t ldconfig_tmp_t:file getattr;

allow qcmap_cm_t ldconfig_tmp_t:file { read getattr open };
