# Copyright (c) 2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

policy_module(telaf, 1.0)

########################################
#
# Declarations
#

## <desc>
## <p>
## Boolean to determine whether external dependencies should be added here
## </p>
## </desc>
gen_bool(telaf_external_dependencies,true)

gen_require(`
  type adbd_t;
  type alogd_t;
  type cgroup_t;
  type debugfs_t;
  type default_context_t;
  type default_t;
  type devlog_t;
  type diag_device_t;
  type dnsmasq_t;
  type etc_t;
  type file_context_t;
  type fs_t;
  type ipacm_t;
  type ld_so_cache_t;
  type ldconfig_tmp_t;
  type loc_hald_t;
  type loc_t;
  type mnt_t;
  type mount_t;
  type mss_t;
  type proc_net_t;
  type proc_t;
  type qcmap_cm_t;
  type qmux_radio_sock_t;
  type qnetmgrd_t;
  type qrtr_ns_t;
  type qseecomd_t;
  type qseecomd_t;
  type qtether_t;
  type qtether_t;
  type qwesd_t;
  type rilmuxd_t;
  type setfiles_exec_t;
  type setfiles_t;
  type shell_exec_t;
  type slim_daemon_t;
  type sysctl_t;
  type sysfs_t;
  type syslogd_t;
  type system_dbusd_t;
  type systemd_tmpfiles_t;
  type telaf_fw_t;
  type telsdk_etc_t;
  type tftp_server_t;
  type tmpfs_t;
  type tracefs_t;
  type udev_t;
  type unconfined_t;
  type var_lock_t;
  type initrc_tmp_t;
  type urandom_device_t;
  type socket_device_t;
')

## telaf framework policies and definitions

# Define three domain for the system
attribute telaf_app_domain;
attribute telaf_core_domain;
attribute telaf_admin_domain;

# Framework definition for telaf
type telaf_fw_t;
files_type(telaf_fw_t);

# Telaf apps dir/files type definition
type telaf_app_bundle_t;
files_type(telaf_app_bundle_t)

# Telaf apps exec type definition
type telaf_app_exec_t;
files_type(telaf_app_exec_t)

# Telaf sys dir/files type definition
type telaf_sys_t;
files_type(telaf_sys_t);

# Telaf bin dir/files type definition
type telaf_bin_t;
files_type(telaf_bin_t);

# Telaf lib dir/files type definition
type telaf_lib_t;
files_type(telaf_lib_t);

# Telaf app write type defintion
type telaf_app_rw_t;
files_type(telaf_app_rw_t);

# Telaf app readonly type definition
type telaf_app_ro_t;
files_type(telaf_app_ro_t);

# Telaf modules type definition
type telaf_mod_t;
files_type(telaf_mod_t);

# Define the supervisor type
type telaf_admin_t;
type telaf_admin_exec_t;
files_type(telaf_admin_exec_t);
init_telaf_admin_domain(telaf_admin_t, telaf_admin_exec_t)

# Define the log daemon type
type telaf_logd_t;
type telaf_logd_exec_t;
files_type(telaf_logd_exec_t);
init_telaf_core_domain(telaf_logd_t, telaf_logd_exec_t)

# Define the service directory type
type telaf_sdir_t;
type telaf_sdir_exec_t;
files_type(telaf_sdir_exec_t);
init_telaf_core_domain(telaf_sdir_t, telaf_sdir_exec_t)

# Define the watchdog type
type telaf_wdog_t;
type telaf_wdog_exec_t;
files_type(telaf_wdog_exec_t);
init_telaf_core_domain(telaf_wdog_t, telaf_wdog_exec_t)

# Define the configTree type
type telaf_cfgtree_t;
type telaf_cfgtree_exec_t;
files_type(telaf_cfgtree_exec_t);
init_telaf_core_domain(telaf_cfgtree_t, telaf_cfgtree_exec_t)

# Local rules
########################################

# Setup for tmp directory
type telaf_apptmp_rw_t;
files_tmp_file(telaf_apptmp_rw_t)
files_tmp_filetrans(telaf_admin_t,telaf_apptmp_rw_t, { file dir })

# Rule to allow mounting telaf fwk
allow mount_t telaf_fw_t:dir mounton;

# External Dependencies

if (telaf_external_dependencies) {
    #============= setfiles_t ==============
    allow setfiles_t ldconfig_tmp_t:file { read open };

    #============= syslogd_t ==============
    allow syslogd_t self:sem { read write create unix_write destroy };
    allow syslogd_t self:shm { unix_read read write create unix_write destroy };

    #============= mount_t ==============
    allow mount_t ld_so_cache_t:file mounton;
    allow mount_t ldconfig_tmp_t:file getattr;

    #============= systemd_tmpfiles_t ==============
    allow systemd_tmpfiles_t proc_net_t:file { read getattr open };
    allow systemd_tmpfiles_t telaf_app_rw_t:lnk_file getattr;
    allow systemd_tmpfiles_t telaf_apptmp_rw_t:sock_file getattr;

    #=============== telaf_admin_t ==============
    allow telaf_admin_t devlog_t:sock_file write;
    allow telaf_admin_t self:capability2 wake_alarm;
    allow telaf_admin_t self:process setsched;
    allow telaf_admin_t shell_exec_t:file { read execute open execute_no_trans };
    allow telaf_admin_t sysfs_t:file { read write open };
    allow telaf_admin_t syslogd_t:unix_dgram_socket sendto;
    allow telaf_admin_t telaf_admin_exec_t:file execute_no_trans;
    allow telaf_admin_t telaf_app_bundle_t:lnk_file read;
    allow telaf_admin_t telaf_app_rw_t:lnk_file create;
    allow telaf_admin_t telaf_apptmp_rw_t:dir { write remove_name add_name };
    allow telaf_admin_t telaf_apptmp_rw_t:sock_file write;
    allow telaf_admin_t telaf_fw_t:dir getattr;
    allow telaf_admin_t telaf_sdir_t:fd use;
    telaf_admin_lnk_file_perms(telaf_admin_t, adbd_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, alogd_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, init_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, ipacm_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, kernel_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, mss_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, qcmap_cm_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, qnetmgrd_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, qrtr_ns_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, qtether_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, system_dbusd_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, tftp_server_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, udev_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, unconfined_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, var_lock_t)
    telaf_admin_lnk_file_perms(telaf_admin_t, cgroup_t)
    telaf_admin_file_perms(telaf_admin_t, dnsmasq_t)
    telaf_admin_file_perms(telaf_admin_t, file_context_t)
    telaf_admin_file_perms(telaf_admin_t, loc_hald_t)
    telaf_admin_file_perms(telaf_admin_t, loc_t)
    telaf_admin_file_perms(telaf_admin_t, proc_t)
    telaf_admin_file_perms(telaf_admin_t, qseecomd_t)
    telaf_admin_file_perms(telaf_admin_t, qwesd_t)
    telaf_admin_file_perms(telaf_admin_t, slim_daemon_t)
    telaf_admin_file_perms(telaf_admin_t, sysctl_t)
    telaf_admin_file_perms(telaf_admin_t, sysfs_t)
    telaf_admin_mount_perms(telaf_admin_t, cgroup_t)
    telaf_admin_mount_perms(telaf_admin_t, debugfs_t)
    telaf_admin_mount_perms(telaf_admin_t, tmpfs_t)

    #============= kernel_t ==============
    allow kernel_t data_t:dir { read write };
    allow kernel_t self:capability2 block_suspend;

    #============ tafservices =============
    allow telaf_admin_t socket_device_t:dir search;
    allow telaf_admin_t qmux_radio_sock_t:dir search;
    allow telaf_admin_t self:fifo_file ioctl;

    #=========== TelSDK DEBUG =============
    allow telaf_admin_t syslogd_t:sem { read write associate unix_write };
    allow telaf_admin_t syslogd_t:shm { read unix_read };
    allow telaf_admin_t telaf_apptmp_rw_t:file { getattr setattr unlink };
}
